.page-container {
  min-height: 100vh;
  padding: 20px;
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #f3faff 40%,
    #dff1ff 100%
  );
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.plan-card {
  background: white;
  width: 92%;
  max-width: 500px;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 6px 22px rgba(0,0,0,0.12);
  margin-top: 40px;
}

.plan-title {
  font-size: 28px;
  font-weight: 700;
  color: #0066a1;
  text-align: center;
}

.plan-description {
  font-size: 15px;
  color: #404040;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 20px;
}

.discount {
  background: #e6f6ff;
  color: #007acc;
  padding: 8px 12px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 25px;
  display: inline-block;
}

.price-box {
  background: #f8fcff;
  padding: 18px;
  border-radius: 14px;
  margin-bottom: 25px;
  text-align: center;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.05);
}

.plan-price {
  font-size: 40px;
  font-weight: 700;
  color: #004c75;
  margin-top: 7px;
  margin-bottom: 15px;
}

.plan-sub {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.button-choose {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  background: #12a18d;
  border: none;
  color: white;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}

.button-choose:hover {
  background: #99d4dc;
}

.features-title {
  font-size: 20px;
  font-weight: 700;
  color: #004c75;
  text-align: center;
  margin-bottom: 15px;
}

.feature-list {
  padding-left: 20px;
  color: #333;
  font-size: 15px;
}

.feature-list li {
  margin-bottom: 10px;
}
